<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<img style="width: 150px" src="${imgDir}/header-uengine.png"/>

<table style="border: none; width: 100%">
    <tr>
        <td width="30%" valign="top">
            <div>Account :</div>
            <div>${userEmail}</div>
            <br/>
            <div>Billing Email :</div>
            <div>${billEmail}</div>
            <br/>
            <div style="height: 20px">&nbsp;</div>
            <div>Bill to Address:</div>
            <div>ATTN: ${billLastName} ${billFirstName}
                ${billAddress2}
                ${billAddress1}
            </div>
        </td>
        <td width="10%"></td>
        <td width="60%" valign="top" class="hearder_right">
            <div style="position: relative">
                <div class="padding20" style="font-size: 20px;">uengine Product Invoice</div>
                <div class="padding20">Email or talk to us about your uengine account or bill, visit www.uengine.io/contact/</div>
                <div class="line1"></div>
                <div class="padding20" style="font-size: 15px;">Invoice Summary</div>
                <div class="line2"></div>
                <div class="padding20">
                    <div style="float: left">Invoice Number:</div>
                    <div style="float: right">${identifier}</div>
                    <div style="clear: both"></div><br/>
                    <div style="float: left">Invoice Date:</div>
                    <div style="float: right">${invoiceDate}</div>
                    <div style="clear: both"></div>
                </div>
                <div class="line2"></div>
                <div class="padding20" style="float: left;font-size: 15px">TOTAL AMOUNT DUE ON ${invoiceDate} </div>
                <div class="padding20" style="float: right;font-size: 15px">$${amount}</div>
                <div style="clear: both"></div>
                <div class="line1"></div>
            </div>
        </td>
    </tr>
</table>

<br/><br/>

<div style="font-size: 20px">This invoice is for the billing period April 1 - April 30 , 2015</div>
<p>Greetings from uengine Services, we're writing to provide you with an electronic invoice for your use of uengine services. Additional information
    regarding your bill, individual service charge details, and your account history are available on the <a href="www.uengine.io/license">Account Activity Page.</a></p>

<br/><br/><br/><br/>

<table class="invoice">
    <tr style="background: #E6FFFF;">
        <td colspan="2">Summary</td>
    </tr>
    <tr style="color: #FFBB00;">
        <td style="padding-left: 20px;">uengine Product Charges</td>
        <td align="right">$${amount}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Tax</td>
        <td align="right">$${tax}</td>
    </tr>
    <tr>
        <td>Total for this invoice</td>
        <td align="right">$${amount}</td>
    </tr>
</table>

<br/><br/><br/>

<table class="invoice">
    <tr style="background: #E6FFFF;">
        <td style="padding-left: 10px;" colspan="2">Detail for Consolidated Bill</td>
    </tr>
    <tr style="color: #FFBB00;">
        <td style="padding-left: 20px;">Flamingo2</td>
        <td align="right">$${amount}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Product Name</td>
        <td align="right">${productName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">VERSION</td>
        <td align="right">${productVersion}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">LICENSE</td>
        <td align="right">${licenseType}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">COUNTRY</td>
        <td align="right">${enduserCompCountry}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">DAYS</td>
        <td align="right">${days}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">MAX_USER</td>
        <td align="right">${maxUser}</td>
    </tr>
</table>

<br/><br/><br/>

<table class="invoice">
    <tr style="background: #E6FFFF;">
        <td colspan="2">Detail for License Contact Points</td>
    </tr>
    <tr style="color: #FFBB00;">
        <td style="padding-left: 20px;" colspan="2">Technical Contact</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Email</td>
        <td align="right">${techEmail}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">First Name</td>
        <td align="right">${techFirstName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Last Name</td>
        <td align="right">${techLastName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Phone</td>
        <td align="right">${techPhone}</td>
    </tr>

    <tr style="color: #FFBB00;">
        <td style="padding-left: 20px;" colspan="2">Billing Contact</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Email</td>
        <td align="right">${billEmail}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">First Name</td>
        <td align="right">${billFirstName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Last Name</td>
        <td align="right">${billLastName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Phone</td>
        <td align="right">${billPhone}</td>
    </tr>


    <tr style="color: #FFBB00;">
        <td style="padding-left: 20px;" colspan="2">Company Info</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Company Name</td>
        <td align="right">${enduserCompName}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Country</td>
        <td align="right">${enduserCompCountry}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Address Line 1</td>
        <td align="right">${enduserCompAddress1}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Address Line 2</td>
        <td align="right">${enduserCompAddress2}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">City</td>
        <td align="right">${enduserCompCity}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">State / Province</td>
        <td align="right">${enduserCompState}</td>
    </tr>
    <tr>
        <td style="padding-left: 30px;">Zip / Postcode</td>
        <td align="right">${enduserCompZip}</td>
    </tr>


</table>

<br/><br/><br/>

<div style="font-size: 20px">Licensing & Support</div>

<p>Support Requests related to licensing or uengine software can be initiated at <a href="http://support.cludine.io/support">http://support.cludine.io/support</a></p>

<p>For support requests related to third party software please contact the third party vendor.</p>

<p>Usage of uengine software and hosted services is subject to the <a href="http://support.cludine.io/support">uengine Customer Agreement</a></p>

<p>Usage of third party add-ons purchased through the uengine Marketplace is subject to the uengine Marketplace <a href="http://support.cludine.io/support">Terms of Use</a></p>

<p>Technical Account Management (TAM) services are subject to the <a href="http://support.cludine.io/support">uengine Professional Services Agreement</a></p>

<p>Specific details on uengine's support policy are available at <a href="http://support.cludine.io/support">http://support.cludine.io/support/uengine+Support</a></p>

<p>Next steps for JIRA, Confluence, and Marketplace add-on legacy license holders are available in the <a href="http://support.cludine.io/support">uengine licensing FAQ</a></p>

<p>Software maintenance covers access to any support* and software product updates for your software license.</p>

<p>After your software maintenance period expires, you will no longer be able to access support or software updates, including security patches. Renewing your

    software maintenance is done purely at your discretion, and can be renewed in advance of your maintenance period expiration to ensure uninterrupted

    access to the support services and software and security updates.</p>

<p>You can continue to use your software after the active maintenance period expires. However, do keep in mind that software maintenance renewals

    commence from the expiration of the last active software maintenance period.</p>

<p>* Support covers technical service requests for implementation and configuration assistance, upgrade assistance, post-implementation product issues.</p>

<p>A technical service request is defined as assistance with one issue, problem, or question relating to the use or installation of a uengine product, regardless

    of the number of communications required.</p>

<p>Support does not cover the following:</p>

<p>- Development requests, including custom code development or support for third party plugins</p>

<p>- Database integrity or database performance issues, including tuning and optimisation of the database</p>

<p>- Network topology or environment issues</p>

<p>- Application server issues not directly related to the uengine product implementation, configuration or operation</p>

<p>- Service requests or issues referred via uengine forums</p>

<br/><br/><br/><br/><br/><br/>

<div style="height: 1px;background: #000000;width: 100%"></div>
<p>uengine Pty Ltd, Hokyoung 2F, 122-30, Samsung-dong, Gangnam-gu, Seoul, Korea</p>
<p>support@uengine.co.kr</p>
<p>(+82) 70-8806-3735</p>
<p>(+82) 2-556-3402</p>
<p><a href="http://www.uengine.io">http://www.uengine.io</a></p>

</body>
</html>