<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.opencloudengine.garuda.web.download.DownloadRepository">

	<insert id="insert" parameterType="org.opencloudengine.garuda.web.download.Download">
        INSERT INTO DOWNLOAD (name, email, company, token, type, version)
        VALUES (
        #{name}, #{email}, #{company}, #{token}, #{type}, #{version}
        )
    </insert>

	<select id="select" resultType="org.opencloudengine.garuda.web.download.Download">
        SELECT * FROM DOWNLOAD
        WHERE TOKEN = ${value}
    </select>

</mapper>