<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.opencloudengine.garuda.web.management.ManagementRepository">

    <resultMap id="managementMap" type="org.opencloudengine.garuda.web.management.Management">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="groupKey" column="group_key" jdbcType="VARCHAR"/>
        <result property="groupSecret" column="group_secret" jdbcType="VARCHAR"/>
        <result property="groupJwtSecret" column="group_jwt_secret" jdbcType="VARCHAR"/>
        <result property="sessionTokenLifetime" column="session_token_lifetime" jdbcType="INTEGER"/>
        <result property="scopeCheckLifetime" column="scope_check_lifetime" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="org.opencloudengine.garuda.web.management.Management">
        INSERT INTO MANAGEMENT_GROUP (
        user_id,
        group_name,
        group_key,
        group_secret,
        group_jwt_secret,
        session_token_lifetime,
        scope_check_lifetime,
        description
        )
        VALUES (
        #{userId},
        #{groupName},
        #{groupKey},
        #{groupSecret},
        #{groupJwtSecret},
        #{sessionTokenLifetime},
        #{scopeCheckLifetime},
        #{description}
        )
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE id = #{id}
    </select>

    <select id="selectByKey" parameterType="java.lang.String" resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE group_key = #{groupKey}
    </select>

    <select id="selectByUserIdAndId" parameterType="map" resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE id = #{id}
        AND user_id = #{userId}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE user_id = #{userId}
        ORDER BY group_name
    </select>

    <select id="selectByCredential" parameterType="map" resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE group_key = #{groupKey}
        AND group_secret = #{groupSecret}
    </select>

    <select id="selectByCondition" parameterType="org.opencloudengine.garuda.web.management.Management"
            resultMap="managementMap">
        SELECT * FROM MANAGEMENT_GROUP
        WHERE 0 = 0
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="groupName != '' and groupName != null">
            AND group_name = #{groupName}
        </if>
        <if test="description != '' and description != null">
            AND description = #{description}
        </if>
        <if test="sessionTokenLifetime != null">
            AND session_token_lifetime = #{sessionTokenLifetime}
        </if>
        <if test="scopeCheckLifetime != null">
            AND scope_check_lifetime = #{scopeCheckLifetime}
        </if>
    </select>

    <update id="updateById" parameterType="map">
        UPDATE MANAGEMENT_GROUP
        <set>
            <if test="groupName != '' and groupName != null">
                group_name = #{groupName},
            </if>
            <if test="description != '' and description != null">
                description = #{description},
            </if>
            <if test="sessionTokenLifetime != null">
                session_token_lifetime = #{sessionTokenLifetime},
            </if>
            <if test="scopeCheckLifetime != null">
                scope_check_lifetime = #{scopeCheckLifetime},
            </if>
            UPD_DT = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM MANAGEMENT_GROUP
        WHERE id = #{id}
    </delete>

</mapper>