<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.opencloudengine.garuda.web.console.oauthscope.OauthScopeRepository">

    <resultMap id="oauthScopeMap" type="org.opencloudengine.garuda.web.console.oauthscope.OauthScope">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="org.opencloudengine.garuda.web.console.oauthscope.OauthScope">
        INSERT INTO OAUTH_SCOPES (group_id, name, description, additional_information)
        VALUES (
        #{groupId}, #{name}, #{description}, #{additionalInformation}
        )
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="oauthScopeMap">
        SELECT * FROM OAUTH_SCOPES
        WHERE id = #{id}
    </select>

    <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="oauthScopeMap">
        SELECT * FROM OAUTH_SCOPES
        WHERE group_id = #{groupId}
        ORDER BY upd_dt DESC
    </select>

    <select id="selectByGroupIdAndName" parameterType="map" resultMap="oauthScopeMap">
        SELECT * FROM OAUTH_SCOPES
        WHERE group_id = #{groupId}
        AND name = #{name}
    </select>

    <select id="selectByGroupIdAndId" parameterType="map" resultMap="oauthScopeMap">
        SELECT * FROM OAUTH_SCOPES
        WHERE group_id = #{groupId}
        AND id = #{id}
    </select>

    <select id="selectByCondition" parameterType="org.opencloudengine.garuda.web.console.oauthscope.OauthScope"
            resultMap="oauthScopeMap">
        SELECT * FROM OAUTH_SCOPES
        WHERE 0 = 0
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="groupId != null">
            AND group_id = #{groupId}
        </if>
        <if test="name != '' and name != null">
            AND name = #{name}
        </if>
        <if test="description != '' and description != null">
            AND description = #{description}
        </if>
        <if test="additionalInformation != '' and additionalInformation != null">
            AND additional_information = #{additionalInformation}
        </if>
    </select>

    <update id="updateById" parameterType="org.opencloudengine.garuda.web.console.oauthscope.OauthScope">
        UPDATE OAUTH_SCOPES
        <set>
            <if test="name != '' and name != null">
                name = #{name},
            </if>
            <if test="description != '' and description != null">
                description = #{description},
            </if>
            <if test="additionalInformation != '' and additionalInformation != null">
                additional_information = #{additionalInformation},
            </if>
            UPD_DT = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM OAUTH_SCOPES
        WHERE id = #{id}
    </delete>

    <insert id="insertClientScopes" parameterType="org.opencloudengine.garuda.web.console.oauthclient.OauthClientScopes">
        INSERT INTO OAUTH_CLIENT_SCOPES
        (
        client_id,
        scope_id
        )
        VALUES (
        #{clientId},
        #{scopeId}
        )
    </insert>

    <select id="selectClientScopes" parameterType="java.lang.Long" resultMap="oauthScopeMap">
        SELECT
        B.*
        FROM
        (SELECT scope_id FROM OAUTH_CLIENT_SCOPES
                WHERE client_id = #{clientId}) A
        LEFT OUTER JOIN
        (SELECT * FROM OAUTH_SCOPES) B
        ON B.id = A.scope_id;
    </select>

    <select id="selectClientScopesByScopeId" parameterType="map" resultMap="oauthScopeMap">
        SELECT
        B.*
        FROM
        (SELECT scope_id FROM OAUTH_CLIENT_SCOPES
        WHERE client_id = #{clientId}
        AND scope_id = #{scopeId}
        ) A
        LEFT OUTER JOIN
        (SELECT * FROM OAUTH_SCOPES) B
        ON B.id = A.scope_id;
    </select>

    <delete id="deleteClientScopes" parameterType="java.lang.Long">
        DELETE FROM OAUTH_CLIENT_SCOPES
        WHERE client_id = #{clientId}
    </delete>

    <delete id="deleteClientScopesByScopeId" parameterType="map">
        DELETE FROM OAUTH_CLIENT_SCOPES
        WHERE client_id = #{clientId}
        AND scope_id = #{scopeId}
    </delete>

</mapper>