<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.opencloudengine.garuda.web.console.oauthclient.OauthClientRepository">

    <resultMap id="oauthClientMap" type="org.opencloudengine.garuda.web.console.oauthclient.OauthClient">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="clientKey" column="client_key" jdbcType="VARCHAR"/>
        <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
        <result property="clientJwtSecret" column="client_jwt_secret" jdbcType="INTEGER"/>
        <result property="clientTrust" column="client_trust" jdbcType="VARCHAR"/>
        <result property="clientType" column="client_type" jdbcType="VARCHAR"/>
        <result property="activeClient" column="active_client" jdbcType="BOOLEAN"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types" jdbcType="VARCHAR"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri" jdbcType="VARCHAR"/>
        <result property="refreshTokenValidity" column="refresh_token_validity" jdbcType="BOOLEAN"/>
        <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"/>
        <result property="codeLifetime" column="code_lifetime" jdbcType="INTEGER"/>
        <result property="refreshTokenLifetime" column="refresh_token_lifetime" jdbcType="INTEGER"/>
        <result property="accessTokenLifetime" column="access_token_lifetime" jdbcType="INTEGER"/>
        <result property="jwtTokenLifetime" column="jwt_token_lifetime" jdbcType="INTEGER"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="oauthClientScopes" type="org.opencloudengine.garuda.web.console.oauthclient.OauthClientScopes">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="clientId" column="client_id" jdbcType="BIGINT"/>
        <result property="scopeId" column="scope_id" jdbcType="BIGINT"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="org.opencloudengine.garuda.web.console.oauthclient.OauthClient"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO OAUTH_CLIENT
        (
        group_id,
        name,
        description,
        client_key,
        client_secret,
        client_jwt_secret,
        client_trust,
        client_type,
        active_client,
        authorized_grant_types,
        web_server_redirect_uri,
        refresh_token_validity,
        additional_information,
        code_lifetime,
        refresh_token_lifetime,
        access_token_lifetime,
        jwt_token_lifetime
        )
        VALUES (
        #{groupId},
        #{name},
        #{description},
        #{clientKey},
        #{clientSecret},
        #{clientJwtSecret},
        #{clientTrust},
        #{clientType},
        #{activeClient},
        #{authorizedGrantTypes},
        #{webServerRedirectUri},
        #{refreshTokenValidity},
        #{additionalInformation},
        #{codeLifetime},
        #{refreshTokenLifetime},
        #{accessTokenLifetime},
        #{jwtTokenLifetime}
        )
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="oauthClientMap">
        SELECT * FROM OAUTH_CLIENT
        WHERE id = #{id}
    </select>

    <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="oauthClientMap">
        SELECT * FROM OAUTH_CLIENT
        WHERE group_id = #{groupId}
        ORDER BY upd_dt DESC
    </select>

    <select id="selectByGroupIdAndName" parameterType="map" resultMap="oauthClientMap">
        SELECT * FROM OAUTH_CLIENT
        WHERE group_id = #{groupId}
        AND name = #{name}
    </select>

    <select id="selectByGroupIdAndId" parameterType="map" resultMap="oauthClientMap">
        SELECT * FROM OAUTH_CLIENT
        WHERE group_id = #{groupId}
        AND id = #{id}
    </select>

    <update id="updateById" parameterType="org.opencloudengine.garuda.web.console.oauthclient.OauthClient">
        UPDATE OAUTH_CLIENT
        SET
        name = #{name},
        description = #{description},
        client_trust = #{clientTrust},
        client_type = #{clientType},
        active_client = #{activeClient},
        authorized_grant_types = #{authorizedGrantTypes},
        web_server_redirect_uri = #{webServerRedirectUri},
        refresh_token_validity = #{refreshTokenValidity},
        additional_information = #{additionalInformation},
        code_lifetime = #{codeLifetime},
        refresh_token_lifetime = #{refreshTokenLifetime},
        access_token_lifetime = #{accessTokenLifetime},
        jwt_token_lifetime = #{jwtTokenLifetime},
        UPD_DT = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM OAUTH_CLIENT
        WHERE id = #{id}
    </delete>

    <insert id="insertScopes" parameterType="org.opencloudengine.garuda.web.console.oauthclient.OauthClientScopes">
        INSERT INTO OAUTH_CLIENT_SCOPES
        (
        client_id,
        scope_id
        )
        VALUES (
        #{clientId},
        #{scopeId}
        )
    </insert>

    <select id="selectScopes" parameterType="java.lang.Long" resultMap="oauthClientScopes">
        SELECT * FROM OAUTH_CLIENT_SCOPES
        WHERE client_id = #{clientId}
    </select>

    <delete id="deleteScopes" parameterType="java.lang.Long">
        DELETE FROM OAUTH_CLIENT_SCOPES
        WHERE client_id = #{clientId}
    </delete>

</mapper>