<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.opencloudengine.garuda.web.oauth.OauthTokenRepository">

    <resultMap id="oauthCodeMap" type="org.opencloudengine.garuda.web.oauth.OauthCode">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="clientId" column="client_id" jdbcType="BIGINT"/>
        <result property="oauthUserId" column="oauth_user_id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="scopes" column="scopes" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="oauthAccessTokenMap" type="org.opencloudengine.garuda.web.oauth.OauthAccessToken">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="scopes" column="scopes" jdbcType="VARCHAR"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
        <result property="oauthUserId" column="oauth_user_id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="clientId" column="client_id" jdbcType="BIGINT"/>
        <result property="refreshToken" column="refresh_token" jdbcType="VARCHAR"/>
        <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_dt" jdbcType="DATE"/>
        <result property="updDate" column="upd_dt" jdbcType="DATE"/>
    </resultMap>

    <insert id="insertCode" parameterType="org.opencloudengine.garuda.web.oauth.OauthCode"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO OAUTH_CODE (group_id,client_id, oauth_user_id, code, scopes)
        VALUES (
        #{groupId},#{clientId}, #{oauthUserId}, #{code}, #{scopes}
        )
    </insert>

    <select id="selectCodeById" parameterType="java.lang.Long" resultMap="oauthCodeMap">
        SELECT * FROM OAUTH_CODE
        WHERE id = #{id}
    </select>

    <select id="selectCodeByCode" parameterType="java.lang.String" resultMap="oauthCodeMap">
        SELECT * FROM OAUTH_CODE
        WHERE code = #{code}
    </select>

    <select id="selectCodeByCodeAndClientId" parameterType="map" resultMap="oauthCodeMap">
        SELECT * FROM OAUTH_CODE
        WHERE code = #{code}
        AND client_id = #{clientId}
    </select>

    <select id="selectCodeByCondition" parameterType="org.opencloudengine.garuda.web.oauth.OauthCode"
            resultMap="oauthCodeMap">
        SELECT * FROM OAUTH_CODE
        WHERE 0 = 0
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="groupId != null">
            AND group_id = #{groupId}
        </if>
        <if test="clientId != null">
            AND client_id = #{clientId}
        </if>
        <if test="oauthUserId != null">
            AND oauth_user_id = #{oauthUserId}
        </if>
        <if test="code != '' and code != null">
            AND code = #{code}
        </if>
        <if test="scopes != '' and scopes != null">
            AND scopes = #{scopes}
        </if>
    </select>

    <update id="updateCodeById" parameterType="org.opencloudengine.garuda.web.oauth.OauthCode">
        UPDATE OAUTH_CODE
        <set>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="clientId != null">
                client_id = #{clientId},
            </if>
            <if test="oauthUserId != null">
                oauth_user_id = #{oauthUserId},
            </if>
            <if test="code != '' and code != null">
                code = #{code},
            </if>
            <if test="scopes != '' and scopes != null">
                scopes = #{scopes},
            </if>
            UPD_DT = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteCodeById" parameterType="java.lang.Long">
        DELETE FROM OAUTH_CODE
        WHERE id = #{id}
    </delete>

    <insert id="insertToken" parameterType="org.opencloudengine.garuda.web.oauth.OauthAccessToken"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO OAUTH_ACCESS_TOKEN
        (
        type,
        scopes,
        token,
        oauth_user_id,
        group_id,
        client_id,
        refresh_token,
        additional_information
        )
        VALUES (
        #{type},
        #{scopes},
        #{token},
        #{oauthUserId},
        #{groupId},
        #{clientId},
        #{refreshToken},
        #{additionalInformation}
        )
    </insert>

    <select id="selectTokenById" parameterType="java.lang.Long" resultMap="oauthAccessTokenMap">
        SELECT * FROM OAUTH_ACCESS_TOKEN
        WHERE id = #{id}
    </select>

    <select id="selectTokenByToken" parameterType="java.lang.String" resultMap="oauthAccessTokenMap">
        SELECT * FROM OAUTH_ACCESS_TOKEN
        WHERE token = #{token}
    </select>

    <select id="selectTokenByRefreshToken" parameterType="java.lang.String" resultMap="oauthAccessTokenMap">
        SELECT * FROM OAUTH_ACCESS_TOKEN
        WHERE refresh_token = #{refreshToken}
    </select>

    <select id="selectTokenByGroupIdAndId" parameterType="map" resultMap="oauthAccessTokenMap">
        SELECT * FROM OAUTH_ACCESS_TOKEN
        WHERE group_id = #{groupId}
        AND id = #{id}
    </select>

    <select id="selectTokenByCondition" parameterType="org.opencloudengine.garuda.web.oauth.OauthAccessToken"
            resultMap="oauthAccessTokenMap">
        SELECT * FROM OAUTH_ACCESS_TOKEN
        WHERE 0 = 0
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="type != '' and type != null">
            AND type = #{type}
        </if>
        <if test="scopes != '' and scopes != null">
            AND scopes = #{scopes}
        </if>
        <if test="token != '' and token != null">
            AND token = #{token}
        </if>
        <if test="oauthUserId != null">
            AND oauth_user_id = #{oauthUserId}
        </if>
        <if test="groupId != null">
            AND group_id = #{groupId}
        </if>
        <if test="clientId != null">
            AND client_id = #{clientId}
        </if>
        <if test="refreshToken != '' and refreshToken != null">
            AND refresh_token = #{refreshToken}
        </if>
        <if test="additionalInformation != '' and additionalInformation != null">
            AND additional_information = #{additionalInformation}
        </if>
    </select>

    <update id="updateTokenById" parameterType="org.opencloudengine.garuda.web.oauth.OauthAccessToken">
        UPDATE OAUTH_ACCESS_TOKEN
        <set>
            <if test="type != '' and type != null">
                type = #{type},
            </if>
            <if test="scopes != '' and scopes != null">
                scopes = #{scopes},
            </if>
            <if test="token != '' and token != null">
                token = #{token},
            </if>
            <if test="oauthUserId != null">
                oauth_user_id = #{oauthUserId},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="clientId != null">
                client_id = #{clientId},
            </if>
            <if test="refreshToken != '' and refreshToken != null">
                refresh_token = #{refreshToken},
            </if>
            <if test="additionalInformation != '' and additionalInformation != null">
                additional_information = #{additionalInformation},
            </if>
            UPD_DT = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteTokenById" parameterType="java.lang.Long">
        DELETE FROM OAUTH_ACCESS_TOKEN
        WHERE id = #{id}
    </delete>

</mapper>